html{
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.6;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color:#4CAF50;
}
*, *::before, *:after{
  box-sizing: inherit;
  padding-left: 10;
  padding-right: 10;
  margin: 0;
}
body{
  background-color: #4caf50;
}
main{
  margin: 1rem auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 5px 4px 15px 5px #214c23;
}
/********************
        FORM
********************/
select, input, label, h1, p{
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color:#2a562c;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
select{
  box-shadow:inset 2px 2px 7px 1px #6fe275;
  color:#607D8B;

}
.input_text {
  box-shadow:inset 2px 2px 7px 1px #6fe275;
}
.input_submit{
  background-color: #88e28c;
  box-shadow: 2px 2px 7px 1px #6fe275;
}
.form-box{
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.form-box label{
  display: none;
}
.form-box input,
.form-box select{
  flex-basis: 100%;
}
/*******************
    MEDIA QUERIES
*******************/
@media all and (min-width: 500px){
  .form-box{

  }
  .form-box label{
    display: block;
  }
  .form-box input,
  .form-box select{

  }
}