body{
	margin: 0 auto;	
}
#image{
  background-image: url("login.jpg");
  background-color: #cccccc;
  height: 655px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#image form{
	position: absolute;
	bottom: 35%;
	left: 32%;
	padding-top: 5px;
	padding-bottom: 43px;
	padding-right: 20px;
	padding-left: 20px;
	background-color:#f2f2f200;
	z-index: 16;
	text-align: center;
	color:#02010c; 
}
#image h1, h2{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	padding-top: 0;
	margin-bottom:5px;	
}
#image h1{
	font-size: 20px;
}
#image h2{
	font-size: 16px;
}

#image p{
	font-size: 14px;
	display: block;
	margin-bottom: 2px;
	margin-top: 2px;
}
#image .input_up input{
	width: 200px;
	display: inline;
	margin: 0px auto;
	box-shadow: 0 0 10px #000;
	border:1px solid #f2f2f2;
	background-color: #f2f2f2;
	padding: 2px;
	text-align: center;
}
#image .input_fl input{
	width: 200px;
	display: inline;
	margin: 0px auto;
	box-shadow: 0 0 10px #000;
	border:1px solid #f2f2f2;
	background-color: #f2f2f2;
	padding: 2px;
	text-align: center;
}
#image .select select{
	width: 200px;
	display: block;
	margin: 10px auto;
	box-shadow: 0 0 10px #000;
	border:1px solid #f2f2f2;
	background-color: #f2f2f2;
	padding: 4px;
	text-align: center;
	text-align-last: center;
}
#image button{
	width: 400px;
	height: 30px;
	background-color: #072133ad;
	color: white;
}
::placeholder{
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
}